* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5vw;
  margin-top: -15px;
}
.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_left {
  flex: 0.85;
}

.app_tableHeader {
  display: flex;
}

.app_header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app_dropdown {
  background: rgb(232, 240, 254);
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app_countries {
  display: flex;
  align-items: baseline;
  margin-left: 1rem;
}

.app_countriesFlag {
  width: 1.6em;
  height: 1.1em;
}

.app_right h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.app_tableHeader {
  display: flex;
  justify-content: space-evenly;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
}

.app_graph {
  flex-grow: 0.1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media (min-width: 990px) {
  .app_right {
    flex: 0.25;
    margin-left: 20px;
  }
}
